
body{
font-family: sans-serif;
}

.input-group{
  margin-top: 40px;
  margin-bottom: 20px;
}
li{
  margin-top: 10px;
  margin-left: -27px;
  cursor: pointer;
 
}
.img{
  width: 350px ;
  height: 250px;
  background-color: #a74a4a;
  margin-top: 40px;
margin-right: 20px;
border-radius: 10px;
cursor: pointer;
}
.boxs{
  display: flex;
}
.container1{
  display: flex;
  margin-right: 100px;
}
.matn{
  display: flex;
 
}
span{
  margin-left: 196px;
 color:#ab7a5f;
}

